<div class="page">
  <div class="title">
    <h1>Photos</h1>
    <button (click)="goBack()">&larr; Go Back</button>
  </div>
  <div class="list">
    <ul>
      <li *ngFor="let photo of photos$ | async">
        <div class="content">
          <div class="image">
            <img [src]="photo.thumbnailUrl">
          </div>
          <div class="info">
            <h3>Title: {{ photo.title }}</h3>
            <p>Album ID: <strong>{{ photo.albumId }}</strong></p>
            <p>ID: <strong>{{ photo.id }}</strong></p>
          </div>
        </div>
        <div class="footer">
          <span *ngIf="photo.favorite" class="saved">Saved</span>
          <button (click)="addFavoriteToStore(photo)" [disabled]="photo.favorite">&plus; Add to favorites</button>
        </div>  
      </li>
    </ul>
  </div>
  <div *ngIf="loading$ | async">
    <p>Loading...</p>
  </div>
</div>